node_modules
android
ios
coverage
*.lock
.dist
build
vendor
.cursor
.vscode
.idea
.git
.gitignore
.gitignore
README.md
babel.config.js
.eslintrc.js
.prettierrc.js
declarations.d.ts
package.json
package-lock.json
jest.config.js
metro.config.js
